################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiLayer.Test/.vs/ApiLayer.Test/FileContentIndex/7ab7228e-d40d-4f43-8216-9f11e38fb96b.vsidx
