################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiLayer.Test/.vs/ApiLayer.Test/FileContentIndex/7ab7228e-d40d-4f43-8216-9f11e38fb96b.vsidx
/ApiLayer.Test/.vs/ApiLayer.Test/FileContentIndex/901afae0-5296-454a-ae36-e2e4c1bde0b0.vsidx
/ApiLayer.Test/.vs/ApiLayer.Test/config/applicationhost.config
/ApiLayer.Test/.vs/ApiLayer.Test/FileContentIndex/a96cd874-dd82-4a81-b066-b0577696194d.vsidx
/ApiLayer.Test/.vs/ApiLayer.Test/FileContentIndex/b7d127e2-6a53-40ec-abcf-778013deb161.vsidx
/ApiLayer.Test/.vs/ApiLayer.Test/FileContentIndex/e3a15175-738a-4919-9665-ef466a3cc9e5.vsidx
